@keyframes gridMove {

    from {

        transform: translateY(0);

    }

    to {

        transform: translateY(40px);

    }

}

.player.left {
    animation: slideLeft .8s cubic-bezier(.2, .8, .2, 1);
}

.player.right {
    animation: slideRight .8s cubic-bezier(.2, .8, .2, 1);
}

.center {
    animation: fadeCenter 1s ease;
}

@keyframes slideLeft {

    from {
        opacity: 0;
        transform: translateX(-250px) scale(.8);
    }

    to {
        opacity: 1;
        transform: translateX(0) scale(1);
    }

}

@keyframes slideRight {

    from {
        opacity: 0;
        transform: translateX(250px) scale(.8);
    }

    to {
        opacity: 1;
        transform: translateX(0) scale(1);
    }

}

@keyframes fadeCenter {

    from {
        opacity: 0;
        transform: scale(.7);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }

}

@keyframes borderSpin {

    to {

        transform: rotate(360deg);

    }

}

@keyframes scan {

    from {

        background-position: 0 0;

    }

    to {

        background-position: 0 120px;

    }

}

@keyframes shock {

    to {

        transform: scale(18);

        opacity: 0;

    }
}


@keyframes winnerPop {

    0% {

        transform: scale(.2);

        opacity: 0;

    }

    70% {

        transform: scale(1.3);

    }

    100% {

        transform: scale(1);

    }

}