.point-btn,
.score-box,
.status,
.player-name {

    box-shadow:
        0 0 10px #21ff63,
        inset 0 0 8px #21ff63;
}

@keyframes neon {

    0% {

        box-shadow:

            0 0 8px rgba(37, 255, 105, .3);

    }

    100% {

        box-shadow:

            0 0 28px rgba(37, 255, 105, .9);

    }

}

.score-card,
.status-box,
.logo {

    animation:

        neon 1.2s infinite alternate;

}