.player-name{

    background:#dff6ff;

    color:#222;

    font-size:34px;

    font-weight:bold;

    padding:16px 24px;

    border:4px solid #22ff66;

    clip-path:polygon(
        0 0,
        92% 0,
        100% 20%,
        100% 100%,
        0 100%
    );
}

.score-buttons{

    display:flex;

    flex-direction:column;

    gap:20px;
}

.point-btn{

    background:#111;

    color:white;

    border:3px solid #21ff63;

    padding:18px;

    font-size:24px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    cursor:pointer;

    transition:.25s;
}

.point-btn:hover{

    background:#21ff63;

    color:black;
}

.round{

    font-size:64px;

    color:#21ff63;

    letter-spacing:5px;
}

.score-display{

    display:flex;

    align-items:center;

    gap:30px;
}

.score-box{

    width:130px;

    height:130px;

    border:4px solid #21ff63;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:60px;
}

.vs{

    font-size:30px;

    color:#888;
}

.status{

    width:300px;

    height:80px;

    border:4px solid #21ff63;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:34px;

    letter-spacing:5px;
}