* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: Orbitron, sans-serif;

    background: #050505;

    color: white;

    overflow: hidden;

    height: 100vh;

}

#app {

    width: 100vw;
    height: 100vh;

    position: relative;

    overflow: hidden;

}

body::before {

    content: "";

    position: absolute;
    inset: 0;

    background-image:

        linear-gradient(rgba(0, 255, 100, .05) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0, 255, 100, .05) 1px, transparent 1px);

    background-size: 40px 40px;

    animation: gridMove 10s linear infinite;

}

body::after {

    content: "";

    position: fixed;

    inset: 0;

    pointer-events: none;

    background:

        repeating-linear-gradient(180deg,

            transparent,

            transparent 3px,

            rgba(255, 255, 255, .02) 4px);

    animation: scan 7s linear infinite;

}

.shock {

    position: fixed;

    border: 6px solid #00ff66;

    border-radius: 50%;

    width: 50px;

    height: 50px;

    animation: shock .8s ease-out;

}

#winnerScreen {

    position: absolute;

    inset: 0;

    display: flex;

    justify-content: center;

    align-items: center;

    background: rgba(0, 0, 0, .85);

    backdrop-filter: blur(10px);

}

.winnerText {

    font-size: 140px;

    color: #00ff66;

    text-shadow:

        0 0 10px #00ff66,

        0 0 30px #00ff66,

        0 0 60px #00ff66;

    animation: winnerPop 1s;

}